* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 27px;
  margin-right: 1.5vmin;
  margin-bottom: 2px;
}

#title {
  font-size: 30px;
  font-family: "Annie Use Your Telescope", "Brush Script MT", cursive;
  }

#main-content {
  height: 90%;
  box-sizing: border-box;
  padding-top: 8vmax;
  text-align: center;
  background: url("background.jpg"), rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Itim', cursive;
}

#heading {
  font-size: 6vmin;
  margin: 0 2vmax;
}

#intro {
  font-size: 5vmin;
  line-height: 5vmin;
  margin: 10vmax 4vmax 0;
}

#btn-label {
  font-size: 5vmin;
  margin-top: 10vmax;
  display: block;
}

#btn {
  margin-top: 2vmax;
}

.advice {
  font-size: 6vmin;
  font-family: 'Caveat', cursive;
  margin-top: 7vmax;
  padding: 2vmin;
  background-color: rgba(255, 255, 255, 0.5)
}
