* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 27px;
  margin-right: 1.5vmin;
  margin-bottom: 2px;
}

#title {
  font-size: 30px;
  font-family: "Annie Use Your Telescope", "Brush Script MT", cursive;
  }

#main-content {
  height: 90%;
  box-sizing: border-box;
  padding-top: 8vmax;
  text-align: center;
  background: url("background.jpg"), rgba(255, 255, 255, 0.5);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Itim', cursive;
}

#heading {
  font-size: 8vmin;
  margin: 0 2vmax;
}

#intro {
  margin-top: 6vmax;
  text-align: left;
}

li {
  margin-bottom: 2vmax;
}

i {
  font-size: 6vmin;
  margin-right: 6px;
}

.far fa-thumbs-up {
  background-color: black;
}

#btn-label {
  font-size: 6vmin;
  margin-top: 8vmax;
  display: block;
}

#btn {
  font-size: 6vmin;
  font-weight: bold;
  font-family: 'Itim', cursive;
  margin-top: 2vmax;
  padding: 1.4vmin;
  background-color: transparent;
  border: solid;
  border-width: 0.8vmin;
  border-radius: 30px;
  box-shadow: 0 5px rgb(128, 128, 128);
}

#btn:active {
  box-shadow: 0 2px rgb(128, 128, 128);
  transform: translateY(2px);
}

.fas.fa-lightbulb{
  font-size: 6vmin;
  margin-right: 0;
  pointer-events: none;
}

.advice {
  font-size: 6vmin;
  font-family: 'Caveat', cursive;
  margin-top: 7vmax;
  padding: 2vmin;
  background-color: rgba(255, 255, 255, 0.5)
}
